.slider {
    position: relative;
    overflow: hidden;
    width: 500px;
    display: flex;
    justify-content: center;
}

.slide {
    display: none;
    height: 250px;
}

.slide.active {
    display: block;
}

.prev,
.next {
    background-color: rgba(185, 27, 27, 0.5);
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
